@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  /* Colors */
  --bg-primary: #f0f0f3;

  --text-primary: #5e5e5e;
  --text-secondary: #858484;

  --accent-primary: #f5a623;
  --accent-secondary: #2ec4b6;

  /* Button system */
  --btn-bg: var(--bg-primary);
  --btn-shadow-light: rgba(255, 255, 255, 0.8);
  --btn-shadow-dark: rgba(174, 174, 192, 0.4);

  /* Glass */
  --glass-bg: rgba(255, 255, 255, 0.4);
  --glass-blur: blur(10px);
  --glass-border: rgba(255, 255, 255, 0.6);

  /* Radius */
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 32px;

  /* Typography */
  --font-main: "Inter", sans-serif;
  --fs-display: 3rem;
  --fs-btn: 1.5rem;
  --fs-btn-operator: 1.6rem;

  --fw-normal: 400;
  --fw-bold: 600;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  color: var(--text-primary);
  padding: 1rem;
}

/* Header */
.header {
  font-size: var(--fs-display);
  color: var(--accent-primary);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: end;
}

.header__heading {
  font-weight: 100;
  letter-spacing: 1.2rem;
}

.header__border {
  background-color: #5e5e5e;
  height: 2px;
  margin-bottom: 1rem;
  width: 50px;
  transform: translate(-20%);

  animation:
    fadeIn 1s ease forwards,
    breathe 5s ease-in-out infinite;
}

@keyframes fadeIn {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}

@keyframes breathe {
  0%,
  60% {
    opacity: 1;
    filter: brightness(1);
  }
  80% {
    opacity: 0.3;
    filter: brightness(1.2);
  }
  100% {
    opacity: 1;
    filter: brightness(1);
  }
}

/* Calculator layout */
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}

.calculator__screenContainer {
  width: 80%;
  position: relative;
  padding: 6rem 1rem 1rem;
  border: 1px solid var(--glass-border);
  background: var(--glass-bg);
  border-radius: var(--radius-md);
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: var(--glass-blur);
  box-shadow:
    inset -4px -4px 10px var(--btn-shadow-light),
    inset 4px 4px 10px var(--btn-shadow-dark);
}

.calculator__display {
  width: 100%;
  font-size: var(--fs-display);
  text-align: right;
  color: var(--text-primary);
  border: none;
  background-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  caret-color: transparent;
}

.calculator__display:focus,
.calculator__display:focus-visible {
  outline: none;
}

.calculator__display--expression {
  font-size: 1rem;
  opacity: 0.6;
  text-align: right;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  font-family: "JetBrains Mono", monospace;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.calculator__display.error-state {
  color: var(--accent-primary);
  text-align: center;
}

.calculator__operator--value {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 1;
  font-size: var(--fs-display);
  color: var(--text-secondary);
  transition:
    opacity 0.1s ease-in-out,
    transform 0.1s ease-in-out;
}

/* Buttons */
.calculator__btns {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
}

.calculator__row {
  display: flex;
  gap: 1rem;
}

/* Base button */
.calculator__btn {
  flex: 1;
  height: 5rem;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-btn);
  font-weight: var(--fw-normal);
  background: var(--btn-bg);
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  cursor: pointer;
  box-shadow:
    -4px -4px 8px var(--btn-shadow-light),
    4px 4px 8px var(--btn-shadow-dark);
  transition: all 0.2s ease-in-out;
}

.calculator__btn--wide {
  display: inline-block;
  transform: scale(1.1, 1.05);
  font-weight: var(--fw-bold);
  height: fit-content;
  vertical-align: middle;
  line-height: 1;
}

/* Variants */

.calculator__btn--decimal .calculator__btn--wide {
  transform: scale(1.4, 1.4);
  vertical-align: middle;
  line-height: 1;
  position: relative;
  top: -10px;
}

.calculator__btn--operator,
.calculator__btn--equals {
  color: var(--accent-secondary);
  font-size: var(--fs-btn-operator);
  font-weight: var(--fw-bold);
}

.calculator__btn--utility {
  color: var(--accent-primary);
}

.calculator__btn--zero {
  flex: 2 1 0;
}

/* States */
.calculator__btn:hover,
.calculator__btn:focus-visible {
  color: var(--accent-primary);
  transform: scale(1.02);
  outline: none;
}

.calculator__btn:active,
.calculator__btn.active {
  transform: scale(0.98);
  box-shadow:
    inset -2px -2px 6px var(--btn-shadow-light),
    inset 2px 2px 6px var(--btn-shadow-dark);
  color: var(--accent-secondary);
}

.calculator__btn.ac-active,
.calculator__btn:focus-visible {
  box-shadow:
    0 0 12px rgba(255, 255, 255, 0.8),
    0 6px 12px rgba(46, 46, 54, 0.4);
  transform: translateY(-2px);
}

/* Utility override state */
.calculator__btn--utility:active,
.calculator__btn--utility.active,
.calculator__btn--utility:hover,
.calculator__btn--utility:focus-visible {
  color: var(--accent-secondary);
}

/* Footer */
.footer {
  padding: 1rem;
  text-align: center;
}
